<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../public/Img/Picture3.png" type="image/x-icon">
  <title>Hosicorp Mariscos</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <script src="https://kit.fontawesome.com/880a3403a9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Hosicorp <span>Mariscos</span></label>
    <ul>
      <li><a href="#home" class="navbar">HOME</a></li>
      <li><a href="#productos" class="navbar">PRODUCTOS</a></li>
      <li><a href="#contacto" class="navbar">CONTACTO</a></li>
      <li><a href="#registrarse" class="navbar">REGISTRARSE</a></li>
      <li><a href="http://hosicorpmarisco.atwebpages.com/inciarsesion" class="navbar">INICIAR SESION</a></li>
    </ul>
  </nav>
  <section class="sectionfirst" id="home">
    <header>
      <dev class="Lado-left">
        <p>
          El camarón, de nombre científico Palaemon serratus, es un crustáceo muy semejante a la gamba, aunque de menor
          tamaño. Su cuerpo es largo y está comprimido lateralmente. Su rostro largo-aserrado está curva do hacia arriba,
          con antenas. En Hosicorp Mariscos ofrecemos a nuestros clientes y futuros clientes el mejor camarón del pais,
          brindando diversas tallas de camarones para la eleccion del cliente.
        </p>
      </dev>
      <img class="Image-Back" src="../public/Img/Picture5.png">
    </header>
  </section>
  
  <section class="sectionsecond" id="productos">
    <div class="child-page-listing">
      <h2 class="title-section2 ">Nuestros Productos</h2>
      <div class="grid-container">
        <article id="3685" class="location-listing">
    
          <a class="location-title" href="#">Talla 16-20</a>
          <div class="location-image">
            <figure class="z">
                <img class="produc"src="../public/Img/Picture6.jpeg" alt="Camaron1">    
            </figure>
          </div>
    
        </article>
    
        <article id="3688" class="location-listing">
    
          <a class="location-title" href="#">Talla 21-25</a>
          <div class="location-image">
            <figure class="z">
                <img class="produc" src="../public/Img/Picture7.jpeg" alt="Camaron2">  
            </figure>
          </div>
    
        </article>
      </div>
      <h2 class="other-title">Recetas</h2> 
      <hr>
      <div>
        <figure class="recetas">
          <img class="pl" src="../public/Img/Picture8.png">
          <img class="pl" src="../public/Img/Picture10.png">
          <img class="pl" src="../public/Img/Picture9.png">
        </figure>
        <dev class="nombre-dishes">
          <ul class="nombre-list">
            <li><p>Stay</p></li>
            <li><p>Camarones al curry</p></li>
            <li><p>Paella</p></li>
          </ul>
        </dev>
      </div>
    </div>
  </section>

  <section class="sectionthird" id="contacto">
    <h2 class="title-section3 ">Contacto</h2>
    <div class="redes-container">      
      <a href="https://www.instagram.com/hosi_corp_/" target="_blank" class="link_cont">
        <img src="../public/Img/instagram.png"
          alt="instagram logo" class="img_Contact" />
      </a>
    
      <a href="https://www.instagram.com/hosi_corp_/" target="_blank" class="link_cont">
        <img src="../public/Img/whatsapp.png"
          alt="whatsapp logo" class="img_Contact" />
      </a>
    </div>
  </section>
</body>

</html>